#allPostsContainer {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: center;
    overflow-x: hidden;
}



#allPostsContainer form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    margin-bottom: 10px;

}

#postHouse {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: scroll;
    background-color: #00000050;
    overflow-y: hidden;
}

.post {
    flex-basis: 500px;
    background-color: #CAD2C5;
    margin: 10px;
    height: 190px;
    font-family: 'PT Serif', serif;
    border-radius: 10px;
    border-top: 5px solid #84a98c;
    gap: 15px;
}

.post button {
    background-color: #CAD2C5;
    border: 1px solid black;
    padding: .25em 1em;
    border-radius: 5px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post button img {
    width: 20px;
    margin: 0 10px;
}

.post button:hover {
    background-color: #ff000090;
    color: black;
}

.post h3 {
    background-color: black;
    color: white;
    padding: .25em;
    min-height: 35px;
    text-transform: capitalize;
    font-size: 1.1em;
}

.post p {
    color: black;
    margin: .5em;
}

#addPostButton {
    width: 35%;
    align-self: center;
    background-color: #ddd;
    padding: .5em;
    font-size: 16px;
    margin-bottom: 1em;
    border: none;
    min-width: 400px;
    font-family: 'PT Serif', serif;
}

#addPostButton:hover {
    background-color: #84a98c;
    color: white;
}

#postSearch {
    width: 35%;
    min-width: 400px;
    background-color: #00000070;
    color: white;
}

#postSearch:focus {
    outline: none;
}

#searchForm button,
#postSearch {
    padding: .5em;
    font-size: 18px;
    margin-bottom: .5em;
    height: 40px;
    border: none;
    font-family: 'Noto Serif', serif;
}



#searchForm button {
    width: 10%;
    min-width: 100px;
    background-color: #ddd;
    border-radius: 0 5px 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#searchForm button:hover {
    background-color: #84a98c;
    color: white;
}

#searchForm img {
    height: 40px;
    padding: 10px;
    position: relative;
    bottom: 5px;
    border: none;
    background-color: #ddd;
    margin: 0;
    border-radius: 5px 0 0 5px;

}