#loginContainer {
    display: flex;
    flex-direction: column;
    /* width:; */
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
    height: 100%;
}

#loginContainer h2,
#loginContainer p {
    color: #CAD2C5;
}

#loginContainer p a {
    color: green;
}


#loginForm {
    margin: 15px;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 50%;
    align-items: center;
    justify-content: center;
    background-color: #00000070;
    gap: 20px;
    border-radius: 15px;
}

#loginForm button,
#loginForm input {
    width: 70%;
    font-size: 22px;
    padding: .25em;
    /* text-align: center; */
}

#loginForm input {
    margin: .25em;
    background-color: #CAD2C500;
    border: none;
    border-bottom: 1px solid #284815;
    color: #CAD2C5
}

#loginForm input:focus {
    outline: none;
    border-bottom: 1px solid white;
}

#loginForm button {
    margin: .25em;
    background-color: #CAD2C5;
    border: none;
    border-radius: 10px;
}