#loginContainer,
#registerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;

}

#loginContainer p a,
#registerContainer p a {
    color: #88cc99;
    text-decoration: underline;
}


#loginForm,
#registerForm {
    margin: 15px;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 70%;
    align-items: center;
    justify-content: center;
    background-color: #00000070;
    gap: 20px;
    border-radius: 15px;
}

#loginForm button,
#loginForm input,
#registerForm button,
#registerForm input {
    width: 70%;
    font-size: 22px;
    padding: .25em;
    font-family: 'Rubik', sans-serif;
}

#loginForm input,
#registerForm input {
    margin: .25em;
    background-color: #CAD2C500;
    border: none;
    border-bottom: 1px solid #88cc99;
    color: #CAD2C5;
}

#loginForm input:focus,
#registerForm input:focus {
    outline: none;
    border-bottom: 1px solid white;
    color: white;
}

#loginForm input:focus::placeholder,
#registerForm input:focus::placeholder {
    color: white;
}

#loginForm button,
#registerForm button {
    margin: .25em;
    background-color: #CAD2C5;
    border: none;
    border-radius: 10px;
}

#loginForm button:hover,
#registerForm button:hover {
    background-color: #88cc99;
    color: white;
}

#registerAlert {
    position: absolute;
    bottom: 5vh;
    padding: 1.5em;
    background-color: #88cc99;
    border: 2px solid black;
    border-radius: 5px;
}

#registerAlert p {
    font-weight: bold;
    font-size: 24px;
    color: black;
}

#errorAlert {
    position: absolute;
    top: 5vh;
    padding: 1.5em;
    background-color: red;
    border: 2px solid black;
    border-radius: 5px;
}

#errorAlert p {
    font-weight: bold;
    font-size: 24px;
    color: white;
}