@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&family=Titillium+Web:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');

#mainNav {
    display: flex;
    background-color: #CAD2C5;
    font-family: 'Rubik', sans-serif;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin: 0;

}

#mainNav h1 {
    font-size: 25px;
    font-family: 'Pacifico', cursive;
}

#logo {
    display: flex;
    align-items: center;
}

#logo img {
    width: 40px;
    margin: 0 10px;
    position: relative;
    bottom: 3px;
}

#mainNav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

#mainNav ul:hover {
    color: #CAD2C5;
}

#mainNav ul li {
    padding: .9em 0;

    font-family: 'Prompt', sans-serif;
    font-weight: 600;
}

#mainNav ul li:hover {
    color: #CAD2C5;
}

.navLink a {
    font-size: 18px;
    text-decoration: none;
    color: #2F3E46;
    height: 100%;
    padding: .9em 3em;
}

.navLink a:hover {
    color: #CAD2C5;
    background-color: #2f3e46;
}


.navLink:hover {
    color: #CAD2C5;
}

@media screen and (max-width: 650px) {
    #logo h1 {
        font-size: 24px;
        text-wrap: none;
        margin: 0;
    }

    #logo img {
        width: 30px;
        margin: 0 5px;
    }

    .navLink a {
        font-size: 16px;
    }

    #mainNav ul li {
        padding: .9em 1.5em;

    }
}