#registerContainer {
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
    flex-direction: column;
    /* justify-self: center; */
    position: relative;
    height: 100%;
    width: 100%;
    /* left: 70vw; */
}

#registerForm {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: center;
    border: 1px solid yellow;
}

#registerForm button,
#registerForm input {
    width: 50%;
    font-size: 20px;
    padding: .25em;
    text-align: center;
}

#registerForm input {
    margin: .25em;
}

#registerForm button {
    margin: .5em;
}