#singlePostContainer {
    display: flex;
    height: 90vh;
    justify-content: center;
    align-items: center;
}

#post {
    width: 65%;
    background-image: linear-gradient(#CAD2C5, white);
    height: 80%;
    border-radius: 20px;
    font-family: 'Noto Serif', serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: none;
}

#post h2 {
    text-transform: capitalize;
    background-color: black;
    color: white;
    border-radius: 20px 20px 0 0;
    padding: .5em;
    margin: 0;
}

#postInfo {
    padding: 10px;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: space-evenly;
    justify-content: space-evenly;
    height: 70%;
    gap: 15px;
}

#postInfo p {
    font-size: 18px;
    color: black;
    text-align: right;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dashed #000000;
}

#postInfo p strong {
    font-size: 20px;
    text-align: left;
}

#singlePostButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    margin: 15px;
}

#singlePostButtons button {
    font-size: 16px;
    padding: .5em;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
}

#singlePostButtons button img {
    width: 20px;
    margin: 0 10px 0 0;
}

.red {
    background-color: red;
    color: white;
}

.red:hover {
    background-color: #BB0000;
}